__pycache__/
*.pyc
backend/.venv/
backend/data/uploads/
backend/data/default-files/*
!backend/data/default-files/.gitkeep

.next/
node_modules/
*.tsbuildinfo

.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan

.DS_Store
